{% extends "layouts/base.html.twig" %}

{% block title "Nos biens | " ~ parent() %}

{% block body %}
    <div class="container mt-4">
        <h1>Nos biens</h1>
        <div class="row flex">
            {% for property in properties %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href=" {{ path('show_one_property', {id:property.id, slug:property.slug}) }} ">{{property.title}}</a>
                            </h5>
                            <p>{{property.city}} ({{property.postalCode}})</p>
                            <div class="text-primary" style="font-weight:bold; font-size:2rem;">{{property.formattedPrice}} €</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}  